* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Manrope', sans-serif;
}

.f-35{
  font-size: 35px;
  line-height: 46px;
  color: #000000;
}
.f-30{
  font-size: 30px;
  line-height: 39px;
  color: black;
}
.f-25{
  font-size: 25px;
  line-height: 33px;
}
.f-24{
  font-size: 24px;
  line-height: 31px;

}
.f-20{
  font-size: 20px;
  line-height: 26px;

}
.f-14{
  font-size: 14px;
  line-height: 17px;

}
.f-15{
  font-size: 15px;
  line-height: 20px;
}
.grayish{
  color: #CECECE;
}

.error{
  color: red;
}